<div class="row footerRow justify-content-center">
    <div class="imgs">
        <a class="widget ng-scope" href="https://www.thebash.com/string-quartet/arioso-quartet" target="_blank">
            <img src="img/awards/bash-25.svg">
            <img src="img/awards/bash-rapid.svg">
            <img src="img/awards/bash-lifetime-award.svg">
            <img src="img/awards/bash-best-of.svg">
        </a>
    </div>
</div>