<div class="row headerRow justify-content-center">
    <!-- <a href="/index.html">
        <img src="img/welcome.gif" width="313" height="45">
    </a> -->
    <div class="col">
        <div class="header">
            <div class="headLink"><a href="index.html" class="">Home</a></div>
            <div class="headLink"><a href="biographies.html" class="">Biographies</a></div>
            <div class="headLink"><a href="repertoire.html" class="">Repertoire</a></div>
            <div class="headLink"><a href="samples.html" class="">Music Samples</a></div>
            <div class="headLink"><a href="testimonials.html" class="">Testimonials</a></div>
            <div class="headLink"><a href="rates.html" class="">Rates &amp; Availability</a></div>
            <div class="headLink"><a href="FAQ.html" class="">FAQ</a></div>
<!--             [
            <a href="index.html" class="">Home</a>
            |
            <a href="biographies.html" class="">Biographies</a>
            |
            <a href="repertoire.html" class="">Repertoire</a>
            |
            <a href="samples.html" class="">Music Samples</a>
            |
            <a href="testimonials.html" class="">Testimonials</a>
            |
            <a href="rates.html" class="">Rates &amp; Availability</a>
            |
            <a href="FAQ.html" class="">FAQ</a>
            ] -->
        </div>
    </div>
</div>
<div class="mobileHead row justify-content-center">
    <div class="menuToggle">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <img src="img/welcome.gif" width="313" height="45">
</div>