<div class="row headerRow justify-content-center">
    <div class="headCol">
        <div class="header">
            <div>
                <div class="headLink"><a href="index.html">Home</a></div>
            </div>
            <div>
                <div class="headLink"><a href="biographies.html">Biographies</a></div>
            </div>
            <div>
                <div class="headLink"><a href="repertoire.html">Repertoire</a></div>
            </div>
            <div>
                <div class="headLink"><a href="samples.html">Music Samples</a></div>
            </div>
            <div>
                <div class="headLink"><a href="venues.html">Venues</a></div>
            </div>
            <div>
                <div class="headLink"><a href="testimonials.html">Testimonials</a></div>
            </div>
            <div>
                <div class="headLink"><a href="rates.html">Rates &amp; Availability</a></div>
            </div>
            <div>
                <div class="headLink"><a href="FAQ.html">FAQ</a></div>
            </div>
        </div>
    </div>
</div>
<div class="mobileHead row justify-content-center">
    <div class="menuToggle">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <a href="index.html"><img src="img/welcome.gif" width="313" height="45"></a>
</div>
<div class="mobileMenu col-sm-2">
    <ul>
        <li><a href="index.html" class="">Home</a></li>
        <li><a href="biographies.html" class="">Biographies</a></li>
        <li><a href="repertoire.html" class="">Repertoire</a></li>
        <li><a href="venues.html" class="">Venues</a></li>
        <li><a href="samples.html" class="">Music Samples</a></li>
        <li><a href="testimonials.html" class="">Testimonials</a></li>
        <li><a href="rates.html" class="">Rates &amp; Availability</a></li>
        <li><a href="FAQ.html" class="">FAQ</a></li>
    </ul>
</div>