<div class="leftCol col-3 col-xl-2">
    <!-- left column -->
    <div align="center">
        <img class="ariosoLogo" src="img/ariosoLogo.gif" width="172" height="218">
        <div class="address">
            P.O. Box 35<br>
            Chester Heights, PA 19017
        </div>
        <div class="phone">
            <i class="fa fa-phone" aria-hidden="true"></i>
            :
            <a href="tel:8774927237">(877) 492-7237</a>
        </div>
        <div class="mail">
            <i class="fa fa-envelope-o" aria-hidden="true"></i> :
            <a target="_blank" href="mailto:carolbriselli@verizon.net">carolbriselli@verizon.net</a>
        </div>
        <div class="video">
            <a href="http://www.youtube.com/watch?v=o11b5UK1TzU" target="_blank">
                <img src="img/youtube.png" alt="View our Youtube Video" width="129" height="90" longdesc="View our Demo Video on Youtube"></a>
            <br>
            <a href="http://www.youtube.com/watch?v=o11b5UK1TzU" target="_blank">View our demo video</a>
        </div>
    </div>
</div>