<nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="">
        <div class="row">
            <div class="col-sm-2">
                <a href="/"><span class="glyphicon glyphicon-home"></span>Home</a>
            </div>
            <div class="col-sm-8">
                <input type="text" class="entry" name="entry"/>
            </div>
            <div class="col-sm-2">
                <a href="/profile"><span class="glyphicon glyphicon glyphicon-user"></span>My Profile</a>
                <a class="signout" href="#"><span class="glyphicon glyphicon glyphicon-log-out"></span>Signout</a>
            </div>
        </div>
    </div>
</nav>