.centerCol {
    width: 100%;
    /*height: inherit !important;*/
}

.centerCol .lowerBody {
    overflow-y: hidden;
}
.tile img {
    width: 100%;
    cursor: pointer;
}
.left, .right {
    width: 50%;
    display: inline-block;
    height: inherit;
}
.left {
    float: left;
}
.right {
    float: right;
}
.info {
    padding: 0 20px;
    overflow: hidden;
    height: inherit;
}
.infoInner {
    padding-top: 39px;
    height: 100%;
    overflow-y: scroll;
}
/*.bottom .form {
    width: 50%;
    float: right;
    border: 1px solid #888;
}*/
@media (max-width: 800px) {
    .bottom .form, .bottom .tile {
        width: 100%;
    }
}

@media (max-width: 950px) {
    .lowerBody .info {
        width: 100%;
    }
}
/*.bottom .form .subtitle {
    font-size: 16px;
    font-weight: bold;
    margin-left: 37%;
}
.form .field {
    width: 90%;
    margin-left: 2.5%;
}
.form .field input:not(.half), .form .field textarea {
    width: 100%;
}
.form .field input.half {
    width: 49%;
    display: inline-block;
}
.form .field input.half.right {
    float: right;
}
.form .field textarea {
    resize: none;
}

.form .field .subfield {
    display: inline-block;
    width: 100%;
}
.form .field .subfield div {
    display: inline-block;
    width: auto;
}
.form .field .subfield input {
    display: inline-block;
    width: auto;
    margin-right: 5px;
    vertical-align: text-top;
}

.form button.submit {
    background-color: lightblue;
    width: 80%;
    margin: 10px 0 10px 10%;
    border-radius: 6px;
}*/