.centerCol {
    width: 100%;
}

.centerCol .lowerBody {
    overflow-y: hidden;
}
.tile img {
    width: 100%;
    cursor: pointer;
}
.left, .right {
    width: 50%;
    display: inline-block;
    height: inherit;
}
.left {
    float: left;
}
.right {
    float: right;
}
.info {
    padding: 0 20px;
    overflow: hidden;
    height: inherit;
}
.infoInner {
    padding-top: 39px;
    height: 100%;
    overflow-y: scroll;
}
@media (max-width: 800px) {
    .bottom .form, .bottom .tile {
        width: 100%;
    }
}

@media (max-width: 950px) {
    .lowerBody .info {
        width: 100%;
    }
}