ul, li {
    font-size: 11px;
    font-weight: bold;
    font-family: charcoal, verdana, arial, sans-serif;
    width: auto;
}

.leftRep {
    width: 25%;
    float: left;
    display: inline-block;
    border: 1px solid black;
    overflow-y: scroll;
}

.repBody {
    display: inline-block;
    overflow-y: scroll;
    background-color: #ECF5FA;
    width: 75%;
    float: right;
    height: 88%;
}

.repBody ul {
    font-weight: bold;   
    text-transform: uppercase;
}

.repBody li {
    display: block;
    font-weight: normal;
    text-indent: 3%;
    text-transform: none;
}

.box {
    width: 100%;
}

.box h4 {
    width: 100%;
    float: left;
}

.repBody .leftList, .repBody .rightList {
    width: 50%;
    display: inline-block;
}

.repBody .leftList {
    float: left;
}

.repBody .rightList {
    float: right;
}

li.nav-item {
    width: 100%;
}

.active.nav-link {
    background-color: transparent;
    font-weight: bolder;
}

a.nav-link {
    font-size: 12px;
    padding: 5px;
    display: inline-block;
}

a.nav-link.search {
    padding-right: 2px;
}

.searchBar {
    width: 90%;
    margin: 4.5% 5%;
}

.searchBar input {
    width: 100%;
}

.searchBar i {
    margin-left: -20px;
    position: relative;
    display: inline-block;
    color: darkgrey;
}