.musicBody {
    padding-top: 25px;
    height: 500px;
}
.musicBody > div {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}
audio {
    width: 100%;
}
.left, .right {
    padding-bottom: 30px;
}

.left {
    float: left;
}
.right {
    float: right;
}

@media (max-width: 950px) {
    .left, .right {
        width: 100% !important;
    }
}