.musicBody {
    padding-top: 25px;
}
.musicBody > div {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}
audio {
    width: 100%;
}
.left {
    float: left;
}
.right {
    float: right;
}