.pageTitle .footerRow.mock {
    display: inline-block;
    width: auto;
    float: right;
}

.pageTitle .footerRow.mock img {
    width: 100px;
    height: 100px;
}

.centerCol {
    max-height: 90%;
}

.review {
    padding: 7px 0px;
}
.review .fa-star {
    color: #ff9f02;
}
.review .title {
    font-size: 18px;
    font-style: italic;
}