<!DOCTYPE html>
<head>
    <title>Music Samples</title>
    <meta name="keywords" content="arioso, string quartet, philadelphia area quartet, musicians, wedding, violins, viola, cello, carol briselli, carol, igor, szwec, igor szwec, barbara jaffe, vivian barton, matt briselli, matt, briselli, brslli">
    <link rel="icon" href="img/hand_logo_white.jpg">
    <link rel="stylesheet" href="stylesheets/arioso.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/font-awesome.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/FAQ.css" type="text/css">
    <script src="scripts/jquery.js" type="text/javascript"></script>
    <script src="scripts/arioso.js" type="text/javascript"></script>
    <script src="scripts/samples.js" type="text/javascript"></script>
</head>
<body>
    <div class="row bodyRow">
        <% include ../partials/leftCol.ejs %>
        <div class="centerCol col-lg-9 col-md-9 col-sm-11">
            <% include ../partials/header.ejs %>
            <div class="lowerBody">
                <div class="pageTitle">Frequently Asked Questions</div>
                <div class="subtitle">Any and all further questions can be answered through email or phone</div>
                <div class="question">
                    <div class="q">What do Arioso members wear?</div>
                    <div class="a">All musicians dress in formal concert attire: tuxedos for men and black dresses or skirts and blouses for women.</div>
                </div>
                <div class="question">
                    <div class="q">Will you play in two different locations for the ceremony and reception?</div>
                    <div class="a">Yes. The fee is calculated from the time we start at the ceremony until the time we end at the reception. If there is travel time between the two, that is included in the fee.</div>
                </div>
                <div class="question">
                    <div class="q">What do you require at the venue?</div>
                    <div class="a">Our only requirement is four armless chairs and enough space, which is roughly 8' x 8'. For outdoor weddings and events, we must have a shaded area. We have our own battery-operated lights if needed, so we do not need electricity.</div>
                </div>
                <div class="question">
                    <div class="q">Do you play special requests?</div>
                    <div class="a">Yes, we do, provided the music is available for purchase. There might be a fee for arranging the music for the group, depending on the complexity, so please contact us to discuss.</div>
                </div>
                <div class="question">
                    <div class="q">Do you perform outdoors?</div>
                    <div class="a">Yes. However, the minimum required temperature is 65&#x2109;, since the cold weather can cause damage to our expensive instruments. We cannot play if there is any rain, unless we are under a shelter and we need a shaded area since the sun is also damaging to the instruments. There are accommodations that can be made for any of those issues to ensure that we can play outside for your special day.</div>
                </div>
                <div class="question">
                    <div class="q">What if one of the musicians gets sick the day of the event?</div>
                    <div class="a">We have musicians of equal caliber who have played with us before. The quality of musicianship will be the same.</div>
                </div>
                <div class="question">
                    <div class="q">How do you know when to start the music for the processional?</div>
                    <div class="a">We will need a cue from the wedding coordinator, or someone from the venue who is in charge that day. Once we start the first processional, everything will flow perfectly afterwards. We are extremely experienced in wedding ceremonies, and our timing of each piece will be perfectly coordinated.</div>
                </div>
                <div class="question">
                    <div class="q">When should the music for the ceremony be chosen?</div>
                    <div class="a">We need to know your selections no later than one month before the wedding.</div>
                </div>
                <div class="question">
                    <div class="q">Do you perform with other musicians, such as organists or singers?</div>
                    <div class="a">We play with other musicians all the time, so that will not be a problem.  We need a 15-minute rehearsal with that musician, which typically occurs right before the ceremony.</div>
                </div>
                <div class="question">
                    <div class="q">Do you come to the wedding rehearsal?</div>
                    <div class="a">No, there is no need for us to come to the rehearsal.  We have played hundreds of weddings, and will arrive early enough to coordinate with other people involved.</div>
                </div>
                <div class="question">
                    <div class="q">Do you take breaks?</div>
                    <div class="a">We take breaks if the total contracted time is two hours or more.  Our breaks are 10 minutes per hour, and can be coordinated with you ahead of time so that they are at mutually convenient times.</div>
                </div>
                <div class="question">
                    <div class="q">Are tips expected?</div>
                    <div class="a">Tips are always greatly appreciated, but not required.</div>
                </div>
                <div class="question">
                    <div class="q">Why should we hire Arioso?</div>
                    <div class="a">The musicians of the Arioso Quartet are among the finest in the greater Philadelphia area.  We have over 20 years of experience playing weddings, parties, and concerts together, and our expertise will make your event flow perfectly.  Our ceremony timings are flawless.  Having live music will make a lasting impression on you and your guests.  Strings provide a sophisticated sound for your event.  We have a very extensive list of repertoire, including the standard classical literature, show tunes, popular songs, jazz, and much more!  We work closely with every client to provide you with exactly the right music.</div>
                </div>
            </div>
        </div>
    </div>
    <% include ../partials/footer.ejs %>
</body>