<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>
<body>
    <% include ../partials/nav.ejs %>

    <div class="jumbotron text-center body">
        <div class="outer">
            <div class="row no-gutters">
                <div class="col-10 col-xs-8 col-sm-8 col-md-10">
                    <div class="nameRow">
                        <div class="stockName"></div>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </div>
                    <svg class="svg"></svg>
                </div>
                <div class="col-2 col-xs-4 col-sm-4 col-md-2">
                    <div class="right">
                        <div class="stock title">Favorites</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>