<!DOCTYPE html>
<html>
    <head>
        <title>Arioso Quartet</title>
        <meta name="keywords" content="arioso, string quartet, philadelphia area quartet, musicians, wedding, violins, viola, cello, carol briselli, carol, igor, szwec, igor szwec, barbara jaffe, vivian barton, matt briselli, matt, briselli, brslli">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="img/hand_logo_white.jpg">
        <link rel="stylesheet" href="stylesheets/arioso.css" type="text/css">
        <link rel="stylesheet" href="stylesheets/index.css" type="text/css">
        <link rel="stylesheet" href="stylesheets/font-awesome.css" type="text/css">
        <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
        <script src="scripts/jquery.js" type="text/javascript"></script>
        <script src="scripts/arioso.js" type="text/javascript"></script>
    </head>
    <body>
        <div class="row bodyRow">
            <% include ../partials/leftCol.ejs %>
            <div class="centerCol col-lg-8 col-md-9 col-sm-10">
                <% include ../partials/header.ejs %>
                <div class="lowerBody">
                    <img src="img/welcome.gif" width="313" height="45">
                    <br><br>
                    The Arioso String Quartet is based in the Philadelphia area and includes southern New Jersey and Delaware. We travel up to 80 miles from center city Philadelphia. Arioso offers the standard string quartet (two violins, viola and cello), a string trio (violin, viola and cello) and a string duo (violin and cello).  You may substitute a flute for one violin in any group for no additional charge, or add a trumpet for your wedding ceremony.
                    <br/><br/>
                    <a href="biographies.html">Arioso members</a> are experienced professional musicians, and are among the highest caliber in the area. Please read our biographies to learn more about us!  We play with Opera Philadelphia, the PA Ballet and the Chamber Orchestra of Philadelphia among many other groups.  Arioso plays weddings, Bar/Bat Mitzvahs, private parties and concerts at any location.  Take a glance at some of the <a href="venues.html">venues</a> we have played.
                    Our dress is formal black attire: long black dresses for women and tuxedos for men.
                    We are experts at ceremonies and have played weddings of every denomination.  We play for full Catholic Masses (with or without singers).  Our repertoire is extensive so please take a look at it.  We are constantly adding new music and are happy to play special requests.  We will gladly help you in choosing the right music for your special event, and will arrange music which is not in our <a href="repertoire.html">repertoire</a>.
                    <br/><br/>
                    <table class="repTabl" cellspacing="0" cellpadding="5" border="0">
                        <tr>
                            <td>
                                <a href="repertoire.html#classical">Classical Music</a><br>
                                <a href="repertoire.html#wedding">Wedding Ceremony Music</a><br>
                                <a href="repertoire.html#jazz">Jazz Classics</a><br>
                            </td>
                            <td>
                                <a href="repertoire.html#catholic">Catholic Mass Music</a><br>
                                <a href="repertoire.html#jewish">Jewish Songs</a><br>
                                <a href="repertoire.html#popular">Popular Songs &amp; Show Tunes</a><br>
                            </td>
                            <td>
                                <a href="repertoire.html#beatles">The Beatles</a><br>
                                <a href="repertoire.html#italian">Italian Songs</a><br>
                                <a href="repertoire.html#hymns">Hymns</a><br>
                            </td>
                        </tr>
                    </table>
                    <br>
                    To listen to some examples of our work, please visit our <a href="samples.html">music samples</a> page.
                    <br/><br/>
                    Any questions or comments you may have can be directed to us via email, <a href="mailto:carolbriselli@verizon.net">carolbriselli@verizon.net</a>.
                    <br><br>
                </div>
            </div>
            <div class="rightCol col-lg-2 col-md-4">
                <div>
                    <div>
                        <a href="https://www.gigmasters.com/string-quartet/arioso-quartet" target="_blank">
                        <img src="img/gigmaster/gigmaster-25.svg">
                        </a>
                        <a href="https://www.gigmasters.com/string-quartet/arioso-quartet" target="_blank">
                        <img src="img/gigmaster/gigmaster-loyal.svg">
                        </a>
                        <a href="https://www.gigmasters.com/string-quartet/arioso-quartet" target="_blank">
                        <img src="img/gigmaster/gigmaster-rapid.svg">
                        </a>
                        <a href="https://www.thumbtack.com/pa/chester-heights/string-quartet-for-hire/sophisticated-string-group-for-weddings" target="_blank">
                        <img src="https://static.thumbtackstatic.com/media/pages/profile/standard-widgets/pro-svg/orange/2011.svg">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="none">
            <% include ../partials/footer.ejs %>
        </div>
    </body>
</html>