<!DOCTYPE html>
<head>
   <title>Rates &amp; Availability</title>
   <meta name="keywords" content="arioso, string quartet, philadelphia area quartet, musicians, wedding, violins, viola, cello, carol briselli, carol, igor, szwec, igor szwec, barbara jaffe, vivian barton, matt briselli, matt, briselli, brslli">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="icon" href="img/hand_logo_white.jpg">
   <link rel="stylesheet" href="stylesheets/arioso.css" type="text/css">
   <link rel="stylesheet" href="stylesheets/rates.css" type="text/css">
   <link rel="stylesheet" href="stylesheets/font-awesome.css" type="text/css">
   <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
   <link rel="stylesheet" href="stylesheets/tipsy.css" type="text/css">
   <script src="scripts/jquery.js" type="text/javascript"></script>
   <script src="scripts/jquery.tipsy.js" type="text/javascript"></script>
   <script src="scripts/jquery.form.js" type="text/javascript"></script>
   <script src="scripts/arioso.js" type="text/javascript"></script>
   <script src="scripts/rates.js" type="text/javascript"></script>
</head>
<body>
   <div class="row bodyRow">
      <% include ../partials/leftCol.ejs %>
      <div class="centerCol col-lg-9 col-md-9 col-sm-11">
         <% include ../partials/header.ejs %>
         <div class="lowerBody">
            <div class="left">
               <div class="pageTitle">Rates &#x26; Availability</div>
               <div class="tile">
                  <a target="_blank" href="mailto:carolbriselli@verizon.net">
                  <img title="Email Arioso Quartet" src="../img/playing-2.jpeg">
                  </a>
               </div>
            </div>
            <div class="right">
               <div class="info">
                  <div class="infoInner">
                     Arioso often books dates over a year in advance. Therefore, due to the busy nature of Arioso's schedule, we recommend that you contact Carol Briselli via <a href="mailto:carolbriselli@verizon.net">email</a> or by phone (877-492-7237) to determine whether the date in which you are interested is still available. 
                     Arioso schedules performances in half-hour increments, with a one hour minimum. Rates differ for trios and quartets, and depend on the length of the performance. The rates for the quartet (two violins, viola and cello) start at $875.00, and for the trio (violin, viola and cello) they begin at $650.00 for weddings in the year 2019. There is no additional fee for substituting a flute for one of the violins in either group. Arioso would be happy to add a trumpet and/or singer of our choice or yours to any wedding ceremony. Please be aware that contracted rates for additional playing time beyond one hour for quartet or trio are significantly lower than the initial hour.
                     Please contact Carol Briselli (877-492-7237) for a quote tailored to your specific requirements.
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   </div>
   <% include ../partials/footer.ejs %>
</body>
</html>