<!DOCTYPE html>
<html>
    <head>
        <title>Repertoire</title>
        <meta name="keywords" content="arioso, string quartet, repertoire, classical music, wedding ceremony music, hymns, catholic mass music, jewish music, popular music, philadelphia area quartet, musicians, wedding, violins, viola, cello, carol briselli, carol, igor, szwec, igor szwec, barbara jaffe, vivian barton, matt briselli, matt, briselli, brslli">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="img/hand_logo_white.jpg">
        <link rel="stylesheet" href="stylesheets/arioso.css" type="text/css">
        <link rel="stylesheet" href="stylesheets/repertoire.css" type="text/css">
        <link rel="stylesheet" href="stylesheets/font-awesome.css" type="text/css">
        <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
        <script type="text/javascript" src="scripts/jquery.js"></script>
        <script type="text/javascript" src="scripts/popper.js"></script>
        <script type="text/javascript" src="scripts/bootstrap.js"></script>
        <script type="text/javascript" src="scripts/repertoire.js"></script>
        <script type="text/javascript" src="scripts/arioso.js"></script>
    </head>
    <body>
        <div class="row bodyRow">
            <% include ../partials/leftCol.ejs %>
            <div class="centerCol col-lg-9 col-md-9 col-sm-11">
                <% include ../partials/header.ejs %>
                <div class="lowerBody">
                    <div class="pageTitle">Repertoire</div>
                    <div class="leftRep">
                        <ul>
                            <li class="nav-item">
                                <a class="nav-link active" href="#classical">Classical Music</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#wedding">Wedding Ceremony Music</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#hymns">Hymns</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#catholic">Catholic Mass Music</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#popular">Pop Tunes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#showtunes">Show/Movie Tunes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#jazz">Jazz Classics</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#christmas">Christmas Repertoire</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#joplin">Joplin Rags</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#waltzes">Waltzes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#jewish">Jewish Songs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#italian">Italian Songs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#tangos">Tangos by Michael McLean</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#beatles">The Beatles</a>
                            </li>
                            <div class="searchBar">
                                <input type="text" name="search" placeholder="Search...">
                            </div>
                        </ul>
                    </div>
                    <div class="repBody" data-spy="scroll">
                        <div class="box">
                            <h4 id="classical">Classical Music</h4>
                            <div class="leftList">
                                <ul data-key="ALBENIZ">
                                    ALBENIZ
                                    <li>Spanish Dance</li>
                                </ul>
                                <ul data-key="BACH, J.C.">
                                    BACH, J.C.
                                    <li>Quartet in D Major, Op. 20</li>
                                </ul>
                                <ul data-key="BACH, J.S. Johann Sebastian">
                                    BACH, J.S.
                                    <li>Air on the G String</li>
                                    <li>Arie</li>
                                    <li>Arioso</li>
                                    <li>Bist du Bei Mir (Be Thou With Me)</li>
                                    <li>Brandenburg Concerto #3</li>
                                    <li>Brandenburg Concerto #4</li>
                                    <li>Chorale</li>
                                    <li>Two Gavottes</li>
                                    <li>Jesu, Joy of Man's Desiring</li>
                                    <li>Little Fugue in G Minor</li>
                                    <li>Loure from Cello Suite #3</li>
                                    <li>Praeludium in E Major</li>
                                    <li>Sarabande from First French Suite</li>
                                    <li>Sheep May Safely Graze</li>
                                    <li>Sleepers Awake</li>
                                    <li>Willst Du Dein Herz Mir Schenken</li>
                                </ul>
                                <ul data-key="BACH/GOUNOD">
                                    BACH/GOUNOD
                                    <li>Ave Maria</li>
                                </ul>
                                <ul data-key="BEECKE">
                                    BEECKE
                                    <li>String Quartet No. 6</li>
                                </ul>
                                <ul data-key="BEETHOVEN wolfgang amadeus">
                                    BEETHOVEN
                                    <li>Cavatina</li>
                                    <li>Fidelio: Finale</li>
                                    <li>Minuet from the Septet</li>
                                    <li>Minuet</li>
                                    <li>Ode to Joy</li>
                                    <li>Quartets: Opus 18 (Nos. 1-6)</li>
                                </ul>
                                <ul data-key="BIZET">
                                    BIZET
                                    <li>Adagietto</li>
                                </ul>
                                <ul data-key="BOCCHERINI">
                                    BOCCHERINI
                                    <li>Minuet</li>
                                </ul>
                                <ul data-key="BORODIN">
                                    BORODIN
                                    <li>Nocturne</li>
                                </ul>
                                <ul data-key="BOYCE">
                                    BOYCE
                                    <li>Allegro</li>
                                </ul>
                                <ul data-key="BRAHMS">
                                    BRAHMS
                                    <li>Theme from First Symphony</li>
                                    <li>Theme from Third Symphony</li>
                                </ul>
                                <ul data-key="BYRDE">
                                    BYRDE
                                    <li>Allegro</li>
                                </ul>
                            </div>
                            <div class="rightList">
                            </div>
                        </div>
                        <div class="box">
                            <h4 id="wedding">Wedding Ceremony Music</h4>
                            <div class="leftList">
                                <ul data-key="wedding">
                                    <li>Pachelbel Canon
                                    <li>Wagner Bridal Chorus
                                    <li>Mendelssohn Wedding March
                                    <li>Air from Water Music – Handel
                                    <li>Amazing Grace
                                    <li>Arrival of the Queen of Sheba – Handel
                                    <li>Ave Verum Corpus – Mozart
                                    <li>Believe Me, If All Those Endearing Young Charms
                                    <li>Brahms - 1st Symphony Theme
                                    <li>Brahms - 3rd Symphony Theme
                                    <li>Chopin – Etude No. 3
                                    <li>Forever and Ever Amen
                                    <li>I Love You Truly
                                    <li>In Remembrance
                                    <li>Korean Wedding Song
                                    <li>Lord’s Prayer
                                </ul>
                            </div>
                            <div class="rightList">
                                <ul data-key="wedding">
                                    <li>Love’s Old Sweet Song
                                    <li>Melody – Gluck
                                    <li>Ode to Joy – Beethoven
                                    <li>Oh, Promise Me
                                    <li>On Eagle’s Wings
                                    <li>Pomp and Circumstance
                                    <li>Rigaudon – Campra
                                    <li>Serenade – Schubert
                                    <li>They Make A Wonderful Pair
                                    <li>To A Wild Rose – MacDowell
                                    <li>Trumpet Tune – Purcell
                                    <li>Trumpet Voluntary – Clark
                                    <li>Waves of the Danube – Ivanovici
                                    <li>Wedding Music – Aria – Handel
                                    <li>Wedding Processional from Sound of Music
                                </ul>
                            </div>
                        </div>
                        <div class="box">
                            <h4 id="hymns">Hymns</h4>
                            <div class="leftList">
                                <ul data-key="hymns">
                                    <li>A Christian Home 
                                    <li>All Creatures of Our God and King
                                    <li>All the Way My Savior Leads Me
                                    <li>All Things Bright and Beautiful
                                    <li>Crown Him with Many Crowns
                                    <li>Far Away in the Depths of my Spirit
                                    <li>Gift of Finest Wheat - (in Catholic Mass book)
                                    <li>Glorious Things of Thee are Spoken
                                    <li>Go My Children, with my Blessing
                                    <li>Great is thy Faithfulness
                                    <li>Hail to the Brightness of Zion's Glad Morning
                                    <li>Have Thine Own Way, Lord
                                    <li>Here, O my Lord, I See Thee Face to Face
                                    <li>Holy, Holy, Holy! Lord God Almightly
                                    <li>I Know that my Redeemer Lives
                                    <li>I Will Give Thanks to Thee
                                    <li>I'd Rather Have Jesus
                                    <li>I've Reached the Land of Corn and Wine
                                    <li>Jesus Comes with Power to Gladden
                                    <li>Jesus, Rose of Sharon
                                </ul>
                            </div>
                            <div class="rightList">
                                <ul data-key="hymns">
                                    <li>Jesus, Thine All Victorious Love
                                    <li>Joy and Praise this Day Confessing
                                    <li>Joyful, Joyful We Adore Thee (Ode to Joy)(in books)
                                    <li>Let All Things Now Living
                                    <li>Lord's Prayer (Wed. Book)
                                    <li>O Lord Most Holy (Cath. Mass book)
                                    <li>O, Lord my god! When I in Awesome Wonder
                                    <li>O Perfect Love
                                    <li>Ode to Joe (in regular books)
                                    <li>On Eagle's Wings
                                    <li>Our Father, who art in heaven (Lord's Prayer)
                                    <li>Praise Ye the Lord, the Almighty
                                    <li>Psalm 23
                                    <li>Sevenfold Amen
                                    <li>There Comes to my Heart
                                    <li>There's a Peace in my Heart
                                    <li>There's Sunshine in My Soul Today
                                    <li>What Wondrous Love is This
                                    <li>When Peace, Like a River, Attendeth my Way
                                    <li>You Are Mine
                                </ul>
                            </div>
                        </div>
                        <div class="box">
                            <h4 id="catholic">Catholic Mass Music</h4>
                            <div class="leftList">
                                <ul data-key="catholic mass music">
                                    <li>A Blessing
                                    <li>All I Ask of You
                                    <li>Amen (St. Louis Jesuits Mass)
                                    <li>Anywhere Is
                                    <li>Ave Maria - Bach/Gounod
                                    <li>Ave Maria – Schubert
                                    <li>The Lord Fills the Earth
                                    <li>Beginning Today
                                    <li>Blest Are They
                                    <li>Blest Are Those Who Love You
                                    <li>Celtic Alleluia
                                    <li>Come, My Way, My Truth, My Life (The Call)
                                    <li>Covenant Hymn (Wherever You Go)
                                    <li>Gift of Finest Wheat
                                    <li>Glory to God
                                    <li>Glory & Praise to Our God
                                    <li>Psalm 95 - Come Worship the Lord
                                    <li>God is Love (responsorial psalm)
                                    <li>Gospel Acclamation
                                    <li>Hail Mary Gentle Woman
                                    <li>Happy Are You
                                    <li>Here I Am Lord
                                    <li>Holy, Holy, Holy: Jesus, Lamb of God
                                    <li>I Am the Bread of Life
                                    <li>I Believe in You and Me
                                    <li>I Have Loved You
                                    <li>In Remembrance
                                    <li>Irish Wedding Song
                                </ul>
                            </div>
                            <div class="rightList">
                                <ul data-key="catholic mass music">
                                    <li>Lamb of God Litany
                                    <li>Let There Be Peace on Earth
                                    <li>Liturgy of the Eucharist
                                    <li>Lord, Have Mercy
                                    <li>Lord’s Prayer
                                    <li>Love Never Fails You
                                    <li>Mass of Creation: Holy, Holy, Holy
                                    <li>Memorial Acclamation 
                                    <li>O Lord Most Holy (Panis Angelicus)
                                    <li>O Perfect Love
                                    <li>One Bread, One Body
                                    <li>Our Blessing Cup (responsorial psalm)
                                    <li>Panis Angelicus (O Lord Most Holy)
                                    <li>Prayer of St. Francis
                                    <li>Responsorial Psalm - Psalm 89
                                    <li>Simple Gifts
                                    <li>Take My Hand
                                    <li>This is the Day
                                    <li>Ubi Caritas
                                    <li>Unity Candle Song
                                    <li>We've Been to the Mountain
                                    <li>Wedding Song (There is Love)
                                    <li>Where Charity & Love Prevail
                                    <li>Where There is Love
                                    <li>Wherever You Go
                                    <li>With this Ring
                                    <li>You Are Mine
                                </ul>
                            </div>
                        </div>
                        <div class="box">
                            <h4 id="popular">Pop Tunes</h4>
                            <div class="leftList">
                                <ul data-key="pop popular tunes">
                                    <li>All I Want is You – U2
                                    <li>All My Life - Bonoff
                                    <li>Always – Irving Berlin
                                    <li>Amazing Grace
                                    <li>Annie’s Song – John Denver
                                    <li>Anywhere Is - Enya
                                    <li>Baby, I Love Your Way – Peter Frampton
                                    <li>Beautiful Day – U2/Bono
                                    <li>Can’t Help Falling in Love – Elvis Presley
                                    <li>Can’t Take My Eyes Off of You – Frankie Valli
                                    <li>Danny Boy
                                    <li>Dawn – Frankie Valli
                                    <li>December 1963 – Frankie Valli
                                    <li>Edge of Glory – Lady Gaga
                                    <li>Feels Like Home – Randy Newman
                                    <li>From a Distance – Julie Gold
                                    <li>From This Moment On – Shania Twain
                                    <li>God Only Knows – Brian Wilson
                                    <li>Greensleeves
                                    <li>Hallelujah – Leonard Cohen
                                    <li>I Don’t Want to Miss a Thing - Aerosmith
                                    <li>In Your Eyes – Peter Gabriel
                                    <li>La Bamba - Valens
                                    <li>La Vie en Rose – Edith Piaf
                                </ul>
                            </div>
                            <div class="rightList">
                                <ul data-key="pop popular tunes">
                                    <li>Longer – Dan Fogelberg
                                    <li>Lost in Love - Kramer
                                    <li>Love Me Tender – Elvis Presley
                                    <li>Make You Feel My Love – Bob Dylan
                                    <li>Marry You – Bruno Mars
                                    <li>Nobody Loves Me Like You Do – Phillips/Dunne
                                    <li>On the Wings of Love – Osborne/Schless
                                    <li>Our House – Graham Nash
                                    <li>Piano Man – Billy Joel
                                    <li>Please Please Please – The Smiths
                                    <li>Rag Doll – Frankie Valli
                                    <li>Scarlet Begonias – Jerry Garcia
                                    <li>Silence is Golden – Frankie Valli
                                    <li>Simple Gifts
                                    <li>The Sun Ain’t Gonna Shine Anymore – Frankie Valli
                                    <li>Tea for Two - Youmans
                                    <li>A Thousand Years – Christina Perri
                                    <li>Time to Say Goodbye – Bocelli/Sartori
                                    <li>Truly – Lionel Richie
                                    <li>Viva La Vida - Coldplay
                                    <li>We’ve Only Just Begun – The Carpenters
                                    <li>When Irish Eyes Are Smiling – Ball
                                    <li>Who Loves You – Frankie Valli
                                    <li>The Wind Beneath My Wings – Bette Midler
                                </ul>
                            </div>
                        </div>
                        <div class="box">
                            <h4 id="showtunes">Show/Movie Tunes</h4>
                            <div class="leftList">
                                <ul data-key="show movie tunes">
                                    <li>Against All Odds (Take a Look at Me Now) – Collins
                                    <li>All Good Gifts (Godspell) - Schwartz
                                    <li>All I Ask of You (Phantom of the Opera)
                                    <li>And This is My Beloved (Kismet) – Wright/Forrest
                                    <li>Baby Elephant Walk (Hatari) - Mancini
                                    <li>Because You Loved Me (Up Close and Personal)
                                    <li>Buongiorno Principessa (La Vita E Bella)
                                    <li>A Bushel and a Peck (Guys and Dolls)
                                    <li>Cabaret (Theme Song)
                                    <li>Charade (Theme Song) – Mancini
                                    <li>City of Stars (La La Land) - Hurwitz
                                    <li>Climb Ev’ry Mountain (The Sound of Music) – Rodgers & Hammerstein
                                    <li>Days of Wine and Roses (Theme Song)- Mancini
                                    <li>Edelweiss (The Sound of Music) – Rodgers & Hammerstein
                                    <li>Friendly Persuasion (Theme Song)
                                    <li>Get Me To the Church on Time (My Fair Lady) – Lerner/Loewe
                                    <li>He’s A Pirate (Pirates of the Caribbean) - Badelt
                                    <li>How Do You Keep the Music Playing? (Best Friends) - LeGrand
                                    <li>I Could Have Danced All Night (My Fair Lady) – Lerner/Loewe
                                    <li>If Ever I Would Leave You (Camelot) – Lerner/Loewe
                                    <li>If I loved You (Carousel) – Rodgers/Hammerstein
                                    <li>If I Were a Rich Man (Fiddler on the Roof) – Harnick/Bock
                                    <li>The Impossible Dream (The Quest) - Leigh
                                    <li>Inspector Clouseau Theme (Pink Panther) - Mancini
                                    <li>Isn’t It Romanic? (Love Me Tonight) – Rodgers/Hart
                                    <li>It Had to Be You (Show Business) – Kahn/Jones
                                    <li>I’ve Grown Accustomed to her Face (My Fair Lady) – Lerner/Loewe
                                    <li>Kiss the Girl (The Little Mermaid) - Menken
                                    <li>Lara’s Theme (Dr. Zhivago) – Jarre/Webster
                                    <li>Lullaby of Broadway (42nd Street) - Warren
                                    <li>Make Someone Happy (Do Re Mi) – Comden/Green
                                    <li>Matchmaker (Fiddler on the Roof) – Harnick/Bock
                                    <li>Meggie’s Theme (The Thornbirds) - Mancini
                                    <li>Memory (Cats) - Webber
                                </ul>
                            </div>
                            <div class="rightList">
                                <ul data-key="show movie tunes">
                                    <li>Molly Maguires (Theme Song) - Mancini
                                    <li>Moonfall (The Mystery of Edwin Drood)- Holmes
                                    <li>Moon River (Breakfast at Tiffany’s) - Mancini
                                    <li>Mr. Wonderful (Theme Song) - Bock
                                    <li>The Music of the Night (Phantom of the Opera) - Webber
                                    <li>Never Ending Story (Theme Song) – Moroder/Forsey
                                    <li>On a Clear Day (Theme Song) – Barbra Streisand - Lerner/Lane
                                    <li>Once Upon a Dream (Sleeping Beauty) – Fain/Lawrence
                                    <li>One Hand, One Heart (West Side Story) - Bernstein
                                    <li>Over the Rainbow (The Wizard of Oz) - Arlen
                                    <li>People (Funny Girl) - Styne
                                    <li>People Will Say We’re in Love (Oklahoma) – Rodgers/Hammerstein
                                    <li>P.M.’s Love Theme (Love Actually) - Armstrong
                                    <li>The Rose (Theme Song) - McBroom
                                    <li>Send in the Clowns (A Little Night Music) - Sondheim
                                    <li>Shall We Dance? (The King and I) – Rodgers/Hammerstein
                                    <li>Some Enchanted Evening (South Pacific) – Rodgers/Hammerstein
                                    <li>Someday My Prince Will Come (Snow White) - Churchill
                                    <li>Somewhere (West Side Story) - Bernstein
                                    <li>Somewhere in Time (Theme Song) - Barry
                                    <li>Song from “10” (Theme Song) - Mancini
                                    <li>Sunrise, Sunset (Fiddler on the Roof) – Harnick/Bock
                                    <li>The Thornbirds (Theme Song) - Mancini
                                    <li>The Throne Room (Star Wars) - Williams
                                    <li>Till There Was You (The Music Man) - Willson
                                    <li>A Time for Us (Romeo and Juliet) - Rota
                                    <li>Tonight (West Side Story) - Bernstein
                                    <li>The Way We Were (Theme Song) - Hamlisch
                                    <li>What Are You Doing the Rest of Your Life? (The Happy Ending) - LeGrand
                                    <li>When You Wish Upon a Star (Pinocchio) - Tatar
                                    <li>A Whole New World (Aladdin) – Menken/Rice
                                    <li>Wouldn’t It be Loverly? (My Fair Lady) – Lerner/Loewe
                                    <li>You Are My Lucky Star (Singin’ in the Rain) - Brown
                                    <li>You Are Woman, I Am Man (Funny Girl) – Styne
                                </ul>
                            </div>
                        </div>
                        <div class="box">
                            <h4 id="jazz">Jazz Classics</h4>
                            <div class="leftList">
                                <ul data-key="jazz classics">
                                </ul>
                            </div>
                            <div class="rightList">
                                <ul data-key="jazz classics">
                                </ul>
                            </div>
                        </div>
                        <div class="box">
                            <h4 id="christmas">Christmas Repertoire</h4>
                            <div class="leftList">
                                <ul data-key="christmas">
                                    <li>The Messiah - G.F. Handel
                                    <li>The Messiah - Overture
                                    <li>The Messiah - Pastoral Symphony
                                    <li>Angels, from the Realms of Glory
                                    <li>Cantique de Noel
                                    <li>Deck the Hall
                                    <li>Ding Dong! Merrily on High
                                    <li>Edelweiss
                                    <li>The First Noel
                                    <li>God Rest You Merry, Gentlemen
                                    <li>Good Christian Men, Rejoice
                                    <li>Hark! The Herald Angels Sing
                                    <li>The Holly and the Ivy
                                </ul>
                            </div>
                            <div class="rightList">
                                <ul data-key="christmas">
                                    <li>It Came Upon the Midnight Clear
                                    <li>Jingle Bells
                                    <li>Joy to the World
                                    <li>Little Jesus, Sweetly Sleep
                                    <li>O Come, All Ye Faithful
                                    <li>O Little Town of Bethlehem
                                    <li>Patapan
                                    <li>See Amid the Winter's Snow
                                    <li>Silent Night
                                    <li>Tomorrow Shall Be My Dancing Day
                                    <li>The 12 Days of Christmas
                                    <li>We Three Kings of Orient Are
                                </ul>
                            </div>
                        </div>
                        <div class="box">
                            <h4 id="joplin">Joplin Rags</h4>
                            <div class="leftList">
                                <ul data-key="joplin rags">
                                    <li>The Cascades
                                    <li>The Chrysanthemum
                                    <li>Cleopha
                                    <li>Country Club
                                    <li>The Easy Winners
                                    <li>Elite Synocopations
                                    <li>The Entertainer
                                </ul>
                            </div>
                            <div class="rightList">
                                <ul data-key="joplin rags">
                                    <li>Euphonic Sounds
                                    <li>The Favorite
                                    <li>Heliotrope Bouquet
                                    <li>Maple Leaf Rag
                                    <li>Paragon Rag
                                    <li>Pineapple Rag
                                    <li>Scott Joplin’s New Rag
                                </ul>
                            </div>
                        </div>
                        <div class="box">
                            <h4 id="waltzes">Waltzes</h4>
                            <div class="leftList">
                                <ul data-key="waltzes">
                                    <li>Blue Danube
                                    <li>Emperor Waltz

                                </ul>
                            </div>
                            <div class="rightList">
                                <ul data-key="waltzes">
                                    <li>The Merry Widow
                                    <li>Tales from the Vienna Woods
                                </ul>
                            </div>
                        </div>
                        <div class="box">
                            <h4 id="jewish">Jewish Songs</h4>
                            <div class="leftList">
                                <ul data-key="jewish">
                                    <li>A La Nana
                                    <li>Ad or Haboker
                                    <li>Agadat Kineret
                                    <li>Ale Giva
                                    <li>Ana Halach Dodech
                                    <li>Ani Ma-Anim
                                    <li>Ani Purim
                                    <li>Ata Ehad
                                    <li>Avadim Hayinu
                                    <li>Avinu Malkenu
                                    <li>Ba-A M'nuha
                                    <li>Bashana Haba-A
                                    <li>Chussen Kalle Mazel Tov
                                    <li>Cuando El Rey Nimrod
                                    <li>Dayenu
                                    <li>Dodi Li
                                    <li>El Ginat Egoz
                                    <li>Eli Ata
                                    <li>Eli, Eli
                                    <li>Eli Eliyahu
                                    <li>Eliyahu Hanavi
                                    <li>Erev Shel Shoshanim
                                    <li>Fregt Die Velt
                                    <li>Hafinjan
                                    <li>Hana-Ava Babanot
                                    <li>Hanuka Oy Hanuka
                                    <li>Hatikva
                                    <li>Hava Nagila
                                    <li>Hine Ma Tov
                                    <li>Hitrag'ut
                                    <li>Kadesh Ur'hats 
                                    <li>Karev Yom 
                                    <li>Kirya Y'fefiya 
                                    <li>L'cha Dodi
                                    <li>Laila, Laila
                                    <li>Lo Sharti Lach Artsi
                                    <li>Los Bilbilicos
                                    <li>Ma Avarech
                                    <li>Ma Navu
                                </ul>
                            </div>
                            <div class="rightList">
                                <ul data-key="jewish">
                                    <li>Ma Nishtana
                                    <li>Ma'oz Tsur
                                    <li>Me-Al Hamigdal
                                    <li>Mi Yitneni Of
                                    <li>Mipi El
                                    <li>Molad'ti
                                    <li>Natati Ets
                                    <li>Ner Li
                                    <li>Nivne Artsenu
                                    <li>Numi, Numi
                                    <li>Od Yishama
                                    <li>Oifn Pripitchok
                                    <li>Orha Bamidbar
                                    <li>Ose Shalom
                                    <li>Rad Halaila
                                    <li>Ro-E V'ro-A
                                    <li>Rozhinkes Mit Mandlen
                                    <li>Sa-Enu
                                    <li>Sahki
                                    <li>Shabat Hamalka
                                    <li>Shalom Alechem
                                    <li>Shir Eres
                                    <li>Shir Ha-Avoda
                                    <li>Shir Ham'shotet
                                    <li>Shir Hama-Alot
                                    <li>Shir Hapalmah
                                    <li>Shoshanat Yaakov
                                    <li>Siman Tov
                                    <li>Sisu Et Y'rushalayim
                                    <li>Tehezakna
                                    <li>Torat Emet
                                    <li>Tsiyon Tamati
                                    <li>Unter Dem Kinds Vigele
                                    <li>Uri Tsiyon</li>
                                    <li>V'tehezena
                                    <li>Vu Ist Dus Geselle
                                    <li>Y'rushalayim
                                    <li>Y'rushalayim Shel Zahav
                                    <li>Yigdal
                                </ul>
                            </div>
                        </div>
                        <div class="box">
                            <h4 id="italian">Italian Songs</h4>
                            <div class="leftList">
                                <ul data-key="italian">
                                    <li>Ah! Marie
                                    <li>Carnival of Venice
                                    <li>Ciribiribin
                                    <li>Come Back to Sorrento
                                    <li>Funiculi Funicula
                                    <li>Io Te Vurria Vasa
                                </ul>
                            </div>
                            <div class="rightList">
                                <ul data-key="italian">
                                    <li>Italian Love Song
                                    <li>Mattinata
                                    <li>O Sole Mio
                                    <li>Santa Lucia
                                    <li>Tarantella
                                    <li>Vieni Sul Mar
                                </ul>
                            </div>
                        </div>
                        <div class="box">
                            <h4 id="tangos">Tangos by Michael McLean</h4>
                            <div class="leftList">
                                <ul data-key="tagnos by michael mclean">
                                    <li>Tango
                                    <li>Serenata
                                    <li>Rhumba
                                </ul>
                            </div>
                            <div class="rightList">
                                <ul data-key="tagnos by michael mclean">
                                    <li>Csardas
                                    <li>Fandango
                                    <li>Tango Chromatique
                                </ul>
                            </div>
                        </div>
                        <div class="box">
                            <h4 id="beatles">The Beatles</h4>
                            <div class="leftList">
                                <ul data-key="beatles">
                                    <li>All My Loving</li>
                                    <li>All You Need is Love</li>
                                    <li>And I Love Her</li>
                                    <li>Can’t Buy Me Love</li>
                                    <li>Eight Days a Week</li>
                                    <li>From Me to You</li>
                                </ul>
                            </div>
                            <div class="rightList">
                                <ul data-key="beatles">
                                    <li>Here Comes the Sun</li>
                                    <li>If I Fell</li>
                                    <li>In My Life</li>
                                    <li>Michelle</li>
                                    <li>Please Please Me</li>
                                    <li>Till There Was You</li>
                                    <li>When I’m 64</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% include ../partials/footer.ejs %>
    </body>
</html>