<!DOCTYPE html>
<html>
   <head>
      <title>Repertoire</title>
      <meta name="keywords" content="arioso, string quartet, repertoire, classical music, wedding ceremony music, hymns, catholic mass music, jewish music, popular music, philadelphia area quartet, musicians, wedding, violins, viola, cello, carol briselli, carol, igor, szwec, igor szwec, barbara jaffe, vivian barton, matt briselli, matt, briselli, brslli">
      <link rel="icon" href="img/hand_logo_white.jpg">
      <link rel="stylesheet" href="stylesheets/arioso.css" type="text/css">
      <link rel="stylesheet" href="stylesheets/repertoire.css" type="text/css">
      <link rel="stylesheet" href="stylesheets/font-awesome.css" type="text/css">
      <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
      <script type="text/javascript" src="scripts/jquery.js"></script>
      <script type="text/javascript" src="scripts/popper.js"></script>
      <script type="text/javascript" src="scripts/bootstrap.js"></script>
      <script type="text/javascript" src="scripts/repertoire.js"></script>
      <script type="text/javascript" src="scripts/arioso.js"></script>
   </head>
   <body>
      <% include ../partials/header.ejs %>
      <div class="row bodyRow">
         <% include ../partials/leftCol.ejs %>
         <div class="centerCol col-lg-9 col-md-9 col-sm-11">
            <div class="pageTitle">Repertoire</div>
            <div class="leftRep">
               <ul class="">
                  <li class="nav-item">
                     <a class="nav-link" href="#classical">Classical Music</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#wedding">Wedding Ceremony Music</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#hymns">Hymns</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#catholic">Catholic Mass Music</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#popular">Pop Tunes</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#showtunes">Show/Movie Tunes</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#jazz">Jazz Classics</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#christmas">Christmas Repertoire</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#joplin">Joplin Rags</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#waltzes">Waltzes</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#jewish">Jewish Songs</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#italian">Italian Songs</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#tangos">Tangos by Michael McLean</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#beatles">The Beatles</a>
                  </li>
                  <div class="searchBar">
                     <input type="text" name="search" placeholder="Search...">
                  </div>
               </ul>
            </div>
            <div class="repBody" data-spy="scroll">
               <div class="box">
                  <h4 id="classical">Classical Music</h4>
                  <div class="leftList">
                     <ul data-key="ALBENIZ">
                        ALBENIZ
                        <li>Spanish Dance</li>
                     </ul>
                     <ul data-key="BACH, J.C.">
                        BACH, J.C.
                        <li>Quartet in D Major, Op. 20</li>
                     </ul>
                     <ul data-key="BACH, J.S.">
                        BACH, J.S.
                        <li>Air on the G String</li>
                        <li>Arie</li>
                        <li>Arioso</li>
                        <li>Bist du Bei Mir (Be Thou With Me)</li>
                        <li>Brandenburg Concerto #3</li>
                        <li>Brandenburg Concerto #4</li>
                        <li>Chorale</li>
                        <li>Two Gavottes</li>
                        <li>Jesu, Joy of Man's Desiring</li>
                        <li>Little Fugue in G Minor</li>
                        <li>Loure from Cello Suite #3</li>
                        <li>Praeludium in E Major</li>
                        <li>Sarabande from First French Suite</li>
                        <li>Sheep May Safely Graze</li>
                        <li>Sleepers Awake</li>
                        <li>Willst Du Dein Herz Mir Schenken</li>
                     </ul>
                     <ul data-key="BACH/GOUNOD">
                        BACH/GOUNOD
                        <li>Ave Maria</li>
                     </ul>
                     <ul data-key="BEECKE">
                        BEECKE
                        <li>String Quartet No. 6</li>
                     </ul>
                     <ul data-key="BEETHOVEN">
                        BEETHOVEN
                        <li>Cavatina</li>
                        <li>Fidelio: Finale</li>
                        <li>Minuet from the Septet</li>
                        <li>Minuet</li>
                        <li>Ode to Joy</li>
                        <li>Quartets: Opus 18 (Nos. 1-6)</li>
                     </ul>
                     <ul data-key="BIZET">
                        BIZET
                        <li>Adagietto</li>
                     </ul>
                     <ul data-key="BOCCHERINI">
                        BOCCHERINI
                        <li>Minuet</li>
                     </ul>
                     <ul data-key="BORODIN">
                        BORODIN
                        <li>Nocturne</li>
                     </ul>
                     <ul data-key="BOYCE">
                        BOYCE
                        <li>Allegro</li>
                     </ul>
                     <ul data-key="BRAHMS">
                        BRAHMS
                        <li>Theme from First Symphony</li>
                        <li>Theme from Third Symphony</li>
                     </ul>
                     <ul data-key="BYRDE">
                        BYRDE
                        <li>Allegro</li>
                     </ul>
                     //TODO FINISH THIS
                  </div>
                  <div class="rightList">
                     <p>...</p>
                  </div>
               </div>
               <div class="box">
                  <h4 id="wedding">Wedding Ceremony Music</h4>
                  <div class="leftList">
                     <p>...</p>
                  </div>
                  <div class="rightList">
                     <p>...</p>
                  </div>
               </div>
               <div class="box">
                  <h4 id="hymns">Hymns</h4>
                  <div class="leftList">
                     <p>...</p>
                  </div>
                  <div class="rightList">
                     <p>...</p>
                  </div>
               </div>
               <div class="box">
                  <h4 id="catholic">Catholic Mass Music</h4>
                  <div class="leftList">
                     <p>...</p>
                  </div>
                  <div class="rightList">
                     <p>...</p>
                  </div>
               </div>
               <div class="box">
                  <h4 id="popular">Popular Tunes</h4>
                  <div class="leftList">
                     <p>...</p>
                  </div>
                  <div class="rightList">
                     <p>...</p>
                  </div>
               </div>
               <div class="box">
                  <h4 id="showtunes">Show/Movie Tunes</h4>
                  <div class="leftList">
                     <p>...</p>
                  </div>
                  <div class="rightList">
                     <p>...</p>
                  </div>
               </div>
               <div class="box">
                  <h4 id="jazz">Jazz Classics</h4>
                  <div class="leftList">
                     <p>...</p>
                  </div>
                  <div class="rightList">
                     <p>...</p>
                  </div>
               </div>
               <div class="box">
                  <h4 id="christmas">Christmas Repertoire</h4>
                  <div class="leftList">
                     <p>...</p>
                  </div>
                  <div class="rightList">
                     <p>...</p>
                  </div>
               </div>
               <div class="box">
                  <h4 id="joplin">Joplin Rags</h4>
                  <div class="leftList">
                     <p>...</p>
                  </div>
                  <div class="rightList">
                     <p>...</p>
                  </div>
               </div>
               <div class="box">
                  <h4 id="waltzes">Waltzes</h4>
                  <div class="leftList">
                     <p>...</p>
                  </div>
                  <div class="rightList">
                     <p>...</p>
                  </div>
               </div>
               <div class="box">
                  <h4 id="jewish">Jewish Songs</h4>
                  <div class="leftList">
                     <p>...</p>
                  </div>
                  <div class="rightList">
                     <p>...</p>
                  </div>
               </div>
               <div class="box">
                  <h4 id="italian">Italian Songs</h4>
                  <div class="leftList">
                     <p>...</p>
                  </div>
                  <div class="rightList">
                     <p>...</p>
                  </div>
               </div>
               <div class="box">
                  <h4 id="tangos">Tangos by Michael McLean</h4>
                  <div class="leftList">
                     <p>...</p>
                  </div>
                  <div class="rightList">
                     <p>...</p>
                  </div>
               </div>
               <div class="box">
                  <h4 id="beatles">The Beatles</h4>
                  <div class="leftList">
                     <li>All My Loving</li>
                     <li>All You Need is Love</li>
                  </div>
                  <div class="rightList">
                     <p>...</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <% include ../partials/footer.ejs %>
   </body>
</html>