<!DOCTYPE html>
<head>
    <title>Venues</title>
    <meta name="keywords" content="arioso, string quartet, philadelphia area quartet, musicians, wedding, violins, viola, cello, carol briselli, carol, igor, szwec, igor szwec, barbara jaffe, vivian barton, matt briselli, matt, briselli, brslli">
    <link rel="icon" href="img/hand_logo_white.jpg">
    <link rel="stylesheet" href="stylesheets/arioso.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/venues.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/font-awesome.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
    <script src="scripts/jquery.js" type="text/javascript"></script>
    <script src="scripts/arioso.js" type="text/javascript"></script>
</head>
<body>
    <div class="row bodyRow">
        <% include ../partials/leftCol.ejs %>
        <div class="centerCol col-lg-9 col-md-9 col-sm-11">
            <% include ../partials/header.ejs %>
            <div class="lowerBody">
                <div class="pageTitle">Venues</div>
                <div class="left">
                    <div>VENUES PLAYED</div>
                    <div>MANSIONS, RESTAURANTS, GOLF CLUBS:</div>
                    <p>Abington Art Center, Abington, PA</p>
                    <p>Aldie Mansion, Doylestown, PA
                    <p>Appleford Estate, Villanova, PA
                    <p>Aronimink Golf Club, Newtown Square, PA
                    <p>Arts Ballroom, Philadelphia, PA
                    <p>The Ashford Estate, Allentown, NJ
                    <p>Audubon Center at Mill Grove, Audubon, PA
                    <p>Bowman’s Hill Wildflower Preserve, New Hope, PA
                    <p>Brandywine Manor House, Honeybrook, PA
                    <p>Brantwyn Mansion, Wilmington, DE
                    <p>Cairnwood, Bryn Athyn, PA
                    <p>The Carriage House, Galloway, NJ Celebrations, Bensalem, PA
                    <p>Clark’s Landing, Point Pleasant Beach, NJ
                    <p>College of Physicians, Philadelphia, PA
                    <p>Colonial Dames, Philadelphia, PA
                    <p>Concord Country Club, West Chester, PA
                    <p>Crystal Tea Room, Philadelphia, PA
                    <p>Deerfield Golf and Tennis Club, Newark, DE 
                    <p>Donaldson Browne Center, Port Deposit, MD
                    <p>DuPont Country Club, Wilmington, DE
                    <p>Erini Restaurant, Ewing, NJ
                    <p>Fonthill Castle, Doylestown, PA
                    <p>The Fountain Room, Philadelphia, PA
                    <p>Fuel Gallery, Philadelphia, PA
                    <p>Greenville Country Club, Greenville, DE
                    <p>Greystone Hall, West Chester, PA
                    <p>The Inn at Barley Sheaf, Holicong, PA
                    <p>Jericho Golf Club, New Hope, PA
                    <p>Joseph Ambler Inn, North Wales, PA
                    <p>Kemblesville United Methodist Church, Newark, DE
                    <p>Knowlton Mansion, Doylestown, PA
                    <p>Martell’s Water’s Edge, Bayville, NJ McCall’s Country Club, Upper Darby, PA
                    <p>Mendenhall Inn, Mendenhall, PA
                    <p>The Old Mill, Rose Valley, PA
                    <p>Phoenixville Foundry, Phoenixville, PA
                    <p>Radnor Hunt Club, Malvern, PA
                    <p>Ridley Creek Mansion, Newtown Square, PA
                    <p>Rockwood Center, Wilmington, DE
                    <p>Rose Hip Barn, Thornton, PA
                    <p>Rydal Park Retirement Community, Jenkintown, PA
                    <p>The Shambles at Head House Square, Philadelphia, PA
                    <p>Stotesbury Mansion, Philadelphia, PA
                    <p>Swarthmore College amphitheater, Swarthmore, PA
                    <p>Sweetwater Farm, Glen Mills, PA
                    <p>Talula’s Garden, Philadelphia, PA
                    <p>University and Whist Club, Wilmington, DE
                    <p>Valley Green Inn, Philadelphia, PA
                    <p>Villanova Conference Center, Villanova, PA
                    <p>Whitemarsh Valley Country Club, Lafayette Hill, PA
                    <p>Winterthur, Wilmington, DE
                    <p>Unionville Winery, Ringoes, NJ
                </div>
                  
                <div class="right">
                    <div>HOTELS:</div>
                    Bellevue Hotel, Philadelphia, PA
                    Black Bass Hotel, Skillman, NJ
                    Desmond Hotel, Malvern, PA
                    Four Seasons Hotel, Philadelphia, PA
                    Hotel DuPont, Wilmington, DE
                    Loew’s Hotel, Philadelphia, PA
                    Marriott Hotel, Conshohocken, PA
                    Rittenhouse Hotel, Philadelphia, PA
                    Westin Hotel, Philadelphia, PA
                    <div>CHURCHES/SYNAGOGUES:</div>
                    Albright Chapel, Reading, PA
                    Baptist Church in the Great Valley, Devon, PA
                    Bausman Memorial United Church of Christ, Wyomissing, PA
                    Cathedral Basilica of Sts. Peter and Paul, Philadelphia, PA
                    First Baptist Church, Philadelphia, PA
                    Grace Bible Fellowship Church, Wallingford, PA
                    Jordan United Church of Christ, Allentown, PA
                    Our Lady of Mount Carmel Church, Doylestown, PA
                    Our Lady of the Rosary Church, Coatesville, PA
                    St. Ann’s Church, Wilmington, DE
                    St. Augustine’s Church, Ocean City, NJ
                    St. Denis Catholic Church, Havertown, PA
                    St. Francis de Sales Church, Lenni, PA
                    St. James Church, Elkins Park, PA
                    <p>St. Joan of Arc Catholic Church, Hershey, PA
                    <p>St. John’s Chrysostom Church, Wallingford, PA
                    <p>St. John’s Episcopal Church, Huntingdon Valley, PA
                    <p>St. Mark’s Church, Philadelphia, PA
                    <p>St. Mary of the Assumption Church, Hockessin, DE
                    <p>St. Paul’s Episcopal Church, Ardmore, PA
                    <p>St. Rita’s Church, Philadelphia, PA
                    <p>Sts. Peter and Paul Catholic Church, West Chester, PA
                    <p>Temple Sinai, Dresher, PA
                    <p>Unitarian Universalist Church, Media, PA</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    <% include ../partials/footer.ejs %>
</body>