<!DOCTYPE html>
<head>
    <title>Venues</title>
    <meta name="keywords" content="arioso, string quartet, philadelphia area quartet, musicians, wedding, violins, viola, cello, carol briselli, carol, igor, szwec, igor szwec, barbara jaffe, vivian barton, matt briselli, matt, briselli, brslli">
    <link rel="icon" href="img/hand_logo_white.jpg">
    <link rel="stylesheet" href="stylesheets/arioso.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/venues.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/font-awesome.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
    <script src="scripts/jquery.js" type="text/javascript"></script>
    <script src="scripts/arioso.js" type="text/javascript"></script>
</head>
<body>
    <div class="row bodyRow">
        <% include ../partials/leftCol.ejs %>
        <div class="centerCol col-lg-9 col-md-9 col-sm-11">
            <% include ../partials/header.ejs %>
            <div class="lowerBody">
                <div class="pageTitle">Venues</div>
                <div class="l">
                    <div>VENUES PLAYED</div>
                    <div>MANSIONS, RESTAURANTS, GOLF CLUBS|</div>
                    Abington Art Center, Abington, PA<br/>
                    Aldie Mansion, Doylestown, PA<br/>
                    Appleford Estate, Villanova, PA<br/>
                    Aronimink Golf Club, Newtown Square, PA<br/>
                    Arts Ballroom, Philadelphia, PA<br/>
                    The Ashford Estate, Allentown, NJ<br/>
                    Audubon Center at Mill Grove, Audubon, PA<br/>
                    Bowman’s Hill Wildflower Preserve, New Hope, PA<br/>
                    Brandywine Manor House, Honeybrook, PA<br/>
                    Brantwyn Mansion, Wilmington, DE<br/>
                    Cairnwood, Bryn Athyn, PA<br/>
                    The Carriage House, Galloway, NJ Celebrations, Bensalem, PA<br/>
                    Clark’s Landing, Point Pleasant Beach, NJ<br/>
                    College of Physicians, Philadelphia, PA<br/>
                    Colonial Dames, Philadelphia, PA<br/>
                    Concord Country Club, West Chester, PA<br/>
                    Crystal Tea Room, Philadelphia, PA<br/>
                    Deerfield Golf and Tennis Club, Newark, DE<br/>
                    Donaldson Browne Center, Port Deposit, MD<br/>
                    DuPont Country Club, Wilmington, DE<br/>
                    Erini Restaurant, Ewing, NJ<br/>
                    Fonthill Castle, Doylestown, PA<br/>
                    The Fountain Room, Philadelphia, PA<br/>
                    Fuel Gallery, Philadelphia, PA<br/>
                    Greenville Country Club, Greenville, DE<br/>
                    Greystone Hall, West Chester, PA<br/>
                    The Inn at Barley Sheaf, Holicong, PA<br/>
                    Jericho Golf Club, New Hope, PA<br/>
                    Joseph Ambler Inn, North Wales, PA<br/>
                    Kemblesville United Methodist Church, Newark, DE<br/>
                    Knowlton Mansion, Doylestown, PA<br/>
                    Martell’s Water’s Edge, Bayville, NJ McCall’s Country Club, Upper Darby, PA<br/>
                    Mendenhall Inn, Mendenhall, PA<br/>
                    The Old Mill, Rose Valley, PA<br/>
                    Phoenixville Foundry, Phoenixville, PA<br/>
                    Radnor Hunt Club, Malvern, PA<br/>
                    Ridley Creek Mansion, Newtown Square, PA<br/>
                    Rockwood Center, Wilmington, DE<br/>
                    Rose Hip Barn, Thornton, PA<br/>
                    Rydal Park Retirement Community, Jenkintown, PA<br/>
                    The Shambles at Head House Square, Philadelphia, PA<br/>
                    Stotesbury Mansion, Philadelphia, PA<br/>
                    Swarthmore College amphitheater, Swarthmore, PA<br/>
                    Sweetwater Farm, Glen Mills, PA<br/>
                    Talula’s Garden, Philadelphia, PA<br/>
                    University and Whist Club, Wilmington, DE<br/>
                    Valley Green Inn, Philadelphia, PA<br/>
                    Villanova Conference Center, Villanova, PA<br/>
                    Whitemarsh Valley Country Club, Lafayette Hill, PA<br/>
                    Winterthur, Wilmington, DE<br/>
                    Unionville Winery, Ringoes, NJ<br/>
                </div>
                <div class="r">
                    <div>HOTELS|</div>
                    Bellevue Hotel, Philadelphia, PA<br/>
                    Black Bass Hotel, Skillman, NJ<br/>
                    Desmond Hotel, Malvern, PA<br/>
                    Four Seasons Hotel, Philadelphia, PA<br/>
                    Hotel DuPont, Wilmington, DE<br/>
                    Loew’s Hotel, Philadelphia, PA<br/>
                    Marriott Hotel, Conshohocken, PA<br/>
                    Rittenhouse Hotel, Philadelphia, PA<br/>
                    Westin Hotel, Philadelphia, PA<br/>
                    <div>CHURCHES/SYNAGOGUES|</div>
                    Albright Chapel, Reading, PA<br/>
                    Baptist Church in the Great Valley, Devon, PA<br/>
                    Bausman Memorial United Church of Christ, Wyomissing, PA<br/>
                    Cathedral Basilica of Sts. Peter and Paul, Philadelphia, PA<br/>
                    First Baptist Church, Philadelphia, PA<br/>
                    Grace Bible Fellowship Church, Wallingford, PA<br/>
                    Jordan United Church of Christ, Allentown, PA<br/>
                    Our Lady of Mount Carmel Church, Doylestown, PA<br/>
                    Our Lady of the Rosary Church, Coatesville, PA<br/>
                    St. Ann’s Church, Wilmington, DE<br/>
                    St. Augustine’s Church, Ocean City, NJ<br/>
                    St. Denis Catholic Church, Havertown, PA<br/>
                    St. Francis de Sales Church, Lenni, PA<br/>
                    St. James Church, Elkins Park, PA<br/>
                    St. Joan of Arc Catholic Church, Hershey, PA<br/>
                    St. John’s Chrysostom Church, Wallingford, PA<br/>
                    St. John’s Episcopal Church, Huntingdon Valley, PA<br/>
                    St. Mark’s Church, Philadelphia, PA<br/>
                    St. Mary of the Assumption Church, Hockessin, DE<br/>
                    St. Paul’s Episcopal Church, Ardmore, PA<br/>
                    St. Rita’s Church, Philadelphia, PA<br/>
                    Sts. Peter and Paul Catholic Church, West Chester, PA<br/>
                    Temple Sinai, Dresher, PA<br/>
                    Unitarian Universalist Church, Media, PA<br/>
                </div>
            </div>
        </div>
    </div>
    <% include ../partials/footer.ejs %>
</body>