<!DOCTYPE html>
<head>
    <title>Venues</title>
    <meta name="keywords" content="arioso, string quartet, philadelphia area quartet, musicians, wedding, violins, viola, cello, carol briselli, carol, igor, szwec, igor szwec, barbara jaffe, vivian barton, matt briselli, matt, briselli, brslli">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="img/hand_logo_white.jpg">
    <link rel="stylesheet" href="stylesheets/arioso.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/venues.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/font-awesome.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
    <script src="scripts/jquery.js" type="text/javascript"></script>
    <script src="scripts/arioso.js" type="text/javascript"></script>
</head>
<body>
    <div class="row bodyRow">
        <% include ../partials/leftCol.ejs %>
        <div class="centerCol col-lg-9 col-md-9 col-sm-11">
            <% include ../partials/header.ejs %>
            <div class="lowerBody">
                <div class="pageTitle">Venues</div>
                <div class="left">
                </div>
                <div class="right">
                    <div>HOTELS:</div>
                    <div>Bellevue Hotel, Philadelphia, PA</div>
                    <div>Black Bass Hotel, Skillman, NJ</div>
                    <div>Desmond Hotel, Malvern, PA</div>
                    <div>Four Seasons Hotel, Philadelphia, PA</div>
                    <div>Hotel DuPont, Wilmington, DE</div>
                    <div>Loew’s Hotel, Philadelphia, PA</div>
                    <div>Marriott Hotel, Conshohocken, PA</div>
                    <div>Rittenhouse Hotel, Philadelphia, PA</div>
                    <div>Westin Hotel, Philadelphia, PA</div>
                    <div>CHURCHES/SYNAGOGUES:</div>
                    <div>Albright Chapel, Reading, PA</div>
                    <div>Baptist Church in the Great Valley, Devon, PA</div>
                    <div>Bausman Memorial United Church of Christ, Wyomissing, PA</div>
                    <div>Cathedral Basilica of Sts. Peter and Paul, Philadelphia, PA</div>
                    <div>First Baptist Church, Philadelphia, PA</div>
                    <div>Grace Bible Fellowship Church, Wallingford, PA</div>
                    <div>Jordan United Church of Christ, Allentown, PA</div>
                    <div>Our Lady of Mount Carmel Church, Doylestown, PA</div>
                    <div>Our Lady of the Rosary Church, Coatesville, PA</div>
                    <div>St. Ann’s Church, Wilmington, DE</div>
                    <div>St. Augustine’s Church, Ocean City, NJ</div>
                    <div>St. Denis Catholic Church, Havertown, PA</div>
                    <div>St. Francis de Sales Church, Lenni, PA</div>
                    <div>St. James Church, Elkins Park, PA</div>
                    <div>St. Joan of Arc Catholic Church, Hershey, PA</div>
                    <div>St. John’s Chrysostom Church, Wallingford, PA</div>
                    <div>St. John’s Episcopal Church, Huntingdon Valley, PA</div>
                    <div>St. Mark’s Church, Philadelphia, PA</div>
                    <div>St. Mary of the Assumption Church, Hockessin, DE</div>
                    <div>St. Paul’s Episcopal Church, Ardmore, PA</div>
                    <div>St. Rita’s Church, Philadelphia, PA</div>
                    <div>Sts. Peter and Paul Catholic Church, West Chester, PA</div>
                    <div>Temple Sinai, Dresher, PA</div>
                    <div>Unitarian Universalist Church, Media, PA</div>
                </div>
            </div>
        </div>
    </div>
    <% include ../partials/footer.ejs %>
</body>
</html>