<!DOCTYPE html>
<head>
    <title>Venues</title>
    <meta name="keywords" content="arioso, string quartet, philadelphia area quartet, musicians, wedding, violins, viola, cello, carol briselli, carol, igor, szwec, igor szwec, barbara jaffe, vivian barton, matt briselli, matt, briselli, brslli">
    <link rel="icon" href="img/hand_logo_white.jpg">
    <link rel="stylesheet" href="stylesheets/arioso.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/venues.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/font-awesome.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
    <script src="scripts/jquery.js" type="text/javascript"></script>
    <script src="scripts/arioso.js" type="text/javascript"></script>
</head>
<body>
    <div class="row bodyRow">
        <% include ../partials/leftCol.ejs %>
        <div class="centerCol col-lg-9 col-md-9 col-sm-11">
            <% include ../partials/header.ejs %>
            <div class="lowerBody">
                <div class="pageTitle">Venues</div>
                <div class="left">
                    <div>VENUES PLAYED</div>
                    <div>MANSIONS, RESTAURANTS, GOLF CLUBS:</div>
                    <p>Abington Art Center, Abington, PA</p>
                    <p>Aldie Mansion, Doylestown, PA</p>
                    <p>Appleford Estate, Villanova, PA</p>
                    <p>Aronimink Golf Club, Newtown Square, PA</p>
                    <p>Arts Ballroom, Philadelphia, PA</p>
                    <p>The Ashford Estate, Allentown, NJ</p>
                    <p>Audubon Center at Mill Grove, Audubon, PA</p>
                    <p>Bowman’s Hill Wildflower Preserve, New Hope, PA</p>
                    <p>Brandywine Manor House, Honeybrook, PA</p>
                    <p>Brantwyn Mansion, Wilmington, DE</p>
                    <p>Cairnwood, Bryn Athyn, PA</p>
                    <p>The Carriage House, Galloway, NJ Celebrations, Bensalem, PA</p>
                    <p>Clark’s Landing, Point Pleasant Beach, NJ</p>
                    <p>College of Physicians, Philadelphia, PA</p>
                    <p>Colonial Dames, Philadelphia, PA</p>
                    <p>Concord Country Club, West Chester, PA</p>
                    <p>Crystal Tea Room, Philadelphia, PA</p>
                    <p>Deerfield Golf and Tennis Club, Newark, DE</p>
                    <p>Donaldson Browne Center, Port Deposit, MD</p>
                    <p>DuPont Country Club, Wilmington, DE</p>
                    <p>Erini Restaurant, Ewing, NJ</p>
                    <p>Fonthill Castle, Doylestown, PA</p>
                    <p>The Fountain Room, Philadelphia, PA</p>
                    <p>Fuel Gallery, Philadelphia, PA</p>
                    <p>Greenville Country Club, Greenville, DE</p>
                    <p>Greystone Hall, West Chester, PA</p>
                    <p>The Inn at Barley Sheaf, Holicong, PA</p>
                    <p>Jericho Golf Club, New Hope, PA</p>
                    <p>Joseph Ambler Inn, North Wales, PA</p>
                    <p>Kemblesville United Methodist Church, Newark, DE</p>
                    <p>Knowlton Mansion, Doylestown, PA</p>
                    <p>Martell’s Water’s Edge, Bayville, NJ McCall’s Country Club, Upper Darby, PA</p>
                    <p>Mendenhall Inn, Mendenhall, PA</p>
                    <p>The Old Mill, Rose Valley, PA</p>
                    <p>Phoenixville Foundry, Phoenixville, PA</p>
                    <p>Radnor Hunt Club, Malvern, PA</p>
                    <p>Ridley Creek Mansion, Newtown Square, PA</p>
                    <p>Rockwood Center, Wilmington, DE</p>
                    <p>Rose Hip Barn, Thornton, PA</p>
                    <p>Rydal Park Retirement Community, Jenkintown, PA</p>
                    <p>The Shambles at Head House Square, Philadelphia, PA</p>
                    <p>Stotesbury Mansion, Philadelphia, PA</p>
                    <p>Swarthmore College amphitheater, Swarthmore, PA</p>
                    <p>Sweetwater Farm, Glen Mills, PA</p>
                    <p>Talula’s Garden, Philadelphia, PA</p>
                    <p>University and Whist Club, Wilmington, DE</p>
                    <p>Valley Green Inn, Philadelphia, PA</p>
                    <p>Villanova Conference Center, Villanova, PA</p>
                    <p>Whitemarsh Valley Country Club, Lafayette Hill, PA</p>
                    <p>Winterthur, Wilmington, DE</p>
                    <p>Unionville Winery, Ringoes, NJ</p>
                </div>
                  
                <div class="right">
                    <div>HOTELS:</div>
                    <p>Bellevue Hotel, Philadelphia, PA</p>
                    <p>Black Bass Hotel, Skillman, NJ</p>
                    <p>Desmond Hotel, Malvern, PA</p>
                    <p>Four Seasons Hotel, Philadelphia, PA</p>
                    <p>Hotel DuPont, Wilmington, DE</p>
                    <p>Loew’s Hotel, Philadelphia, PA</p>
                    <p>Marriott Hotel, Conshohocken, PA</p>
                    <p>Rittenhouse Hotel, Philadelphia, PA</p>
                    <p>Westin Hotel, Philadelphia, PA</p>
                    
                    <div>CHURCHES/SYNAGOGUES:</div>
                    <p>Albright Chapel, Reading, PA</p>
                    <p>Baptist Church in the Great Valley, Devon, PA</p>
                    <p>Bausman Memorial United Church of Christ, Wyomissing, PA</p>
                    <p>Cathedral Basilica of Sts. Peter and Paul, Philadelphia, PA</p>
                    <p>First Baptist Church, Philadelphia, PA</p>
                    <p>Grace Bible Fellowship Church, Wallingford, PA</p>
                    <p>Jordan United Church of Christ, Allentown, PA</p>
                    <p>Our Lady of Mount Carmel Church, Doylestown, PA</p>
                    <p>Our Lady of the Rosary Church, Coatesville, PA</p>
                    <p>St. Ann’s Church, Wilmington, DE</p>
                    <p>St. Augustine’s Church, Ocean City, NJ</p>
                    <p>St. Denis Catholic Church, Havertown, PA</p>
                    <p>St. Francis de Sales Church, Lenni, PA</p>
                    <p>St. James Church, Elkins Park, PA</p>
                    <p>St. Joan of Arc Catholic Church, Hershey, PA</p>
                    <p>St. John’s Chrysostom Church, Wallingford, PA</p>
                    <p>St. John’s Episcopal Church, Huntingdon Valley, PA</p>
                    <p>St. Mark’s Church, Philadelphia, PA</p>
                    <p>St. Mary of the Assumption Church, Hockessin, DE</p>
                    <p>St. Paul’s Episcopal Church, Ardmore, PA</p>
                    <p>St. Rita’s Church, Philadelphia, PA</p>
                    <p>Sts. Peter and Paul Catholic Church, West Chester, PA</p>
                    <p>Temple Sinai, Dresher, PA</p>
                    <p>Unitarian Universalist Church, Media, PA</p>
                </div>
            </div>
        </div>
    </div>
    <% include ../partials/footer.ejs %>
</body>
</html>