<!DOCTYPE html>
<head>
    <title>Venues</title>
    <meta name="keywords" content="arioso, string quartet, philadelphia area quartet, musicians, wedding, violins, viola, cello, carol briselli, carol, igor, szwec, igor szwec, barbara jaffe, vivian barton, matt briselli, matt, briselli, brslli">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="img/hand_logo_white.jpg">
    <link rel="stylesheet" href="stylesheets/arioso.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/venues.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/font-awesome.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
    <script src="scripts/jquery.js" type="text/javascript"></script>
    <script src="scripts/arioso.js" type="text/javascript"></script>
</head>
<body>
    <div class="row bodyRow">
        <% include ../partials/leftCol.ejs %>
        <div class="centerCol col-lg-9 col-md-9 col-sm-11">
            <% include ../partials/header.ejs %>
            <div class="lowerBody">
                <div class="pageTitle">Venues</div>
                <div class="left">
                    <div>VENUES PLAYED</div>
                    <div>MANSIONS, RESTAURANTS, GOLF CLUBS:</div>
                    <div>Abington Art Center, Abington, PA</div>
                    <div>Aldie Mansion, Doylestown, PA</div>
                    <div>Appleford Estate, Villanova, PA</div>
                    <div>Aronimink Golf Club, Newtown Square, PA</div>
                    <div>Arts Ballroom, Philadelphia, PA</div>
                    <div>The Ashford Estate, Allentown, NJ</div>
                    <div>Audubon Center at Mill Grove, Audubon, PA</div>
                    <div>Bowman’s Hill Wildflower Preserve, New Hope, PA</div>
                    <div>Brandywine Manor House, Honeybrook, PA</div>
                    <div>Brantwyn Mansion, Wilmington, DE</div>
                    <div>Cairnwood, Bryn Athyn, PA</div>
                    <div>The Carriage House, Galloway, NJ Celebrations, Bensalem, PA</div>
                    <div>Clark’s Landing, Point Pleasant Beach, NJ</div>
                    <div>College of Physicians, Philadelphia, PA</div>
                    <div>Colonial Dames, Philadelphia, PA</div>
                    <div>Concord Country Club, West Chester, PA</div>
                    <div>Crystal Tea Room, Philadelphia, PA</div>
                    <div>Deerfield Golf and Tennis Club, Newark, DE</div>
                    <div>Donaldson Browne Center, Port Deposit, MD</div>
                    <div>DuPont Country Club, Wilmington, DE</div>
                    <div>Erini Restaurant, Ewing, NJ</div>
                    <div>Fonthill Castle, Doylestown, PA</div>
                    <div>The Fountain Room, Philadelphia, PA</div>
                    <div>Fuel Gallery, Philadelphia, PA</div>
                    <div>Greenville Country Club, Greenville, DE</div>
                    <div>Greystone Hall, West Chester, PA</div>
                    <div>The Inn at Barley Sheaf, Holicong, PA</div>
                    <div>Jericho Golf Club, New Hope, PA</div>
                    <div>Joseph Ambler Inn, North Wales, PA</div>
                    <div>Kemblesville United Methodist Church, Newark, DE</div>
                    <div>Knowlton Mansion, Doylestown, PA</div>
                    <div>Martell’s Water’s Edge, Bayville, NJ McCall’s Country Club, Upper Darby, PA</div>
                    <div>Mendenhall Inn, Mendenhall, PA</div>
                    <div>The Old Mill, Rose Valley, PA</div>
                    <div>Phoenixville Foundry, Phoenixville, PA</div>
                    <div>Radnor Hunt Club, Malvern, PA</div>
                    <div>Ridley Creek Mansion, Newtown Square, PA</div>
                    <div>Rockwood Center, Wilmington, DE</div>
                    <div>Rose Hip Barn, Thornton, PA</div>
                    <div>Rydal Park Retirement Community, Jenkintown, PA</div>
                    <div>The Shambles at Head House Square, Philadelphia, PA</div>
                    <div>Stotesbury Mansion, Philadelphia, PA</div>
                    <div>Swarthmore College amphitheater, Swarthmore, PA</div>
                    <div>Sweetwater Farm, Glen Mills, PA</div>
                    <div>Talula’s Garden, Philadelphia, PA</div>
                    <div>University and Whist Club, Wilmington, DE</div>
                    <div>Valley Green Inn, Philadelphia, PA</div>
                    <div>Villanova Conference Center, Villanova, PA</div>
                    <div>Whitemarsh Valley Country Club, Lafayette Hill, PA</div>
                    <div>Winterthur, Wilmington, DE</div>
                    <div>Unionville Winery, Ringoes, NJ</div>
                </div>
                <div class="right">
                </div>
            </div>
        </div>
    </div>
    <% include ../partials/footer.ejs %>
</body>
</html>