<!DOCTYPE html>
<head>
    <title>Venues</title>
    <meta name="keywords" content="arioso, string quartet, philadelphia area quartet, musicians, wedding, violins, viola, cello, carol briselli, carol, igor, szwec, igor szwec, barbara jaffe, vivian barton, matt briselli, matt, briselli, brslli">
    <link rel="icon" href="img/hand_logo_white.jpg">
    <link rel="stylesheet" href="stylesheets/arioso.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/font-awesome.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
    <script src="scripts/jquery.js" type="text/javascript"></script>
    <script src="scripts/arioso.js" type="text/javascript"></script>
</head>
<body>
    <div class="row bodyRow">
        <% include ../partials/leftCol.ejs %>
        <div class="centerCol col-lg-9 col-md-9 col-sm-11">
            <% include ../partials/header.ejs %>
            <div class="lowerBody">
                <div class="pageTitle">Venues</div>
                </div>
            </div>
        </div>
    </div>
    <% include ../partials/footer.ejs %>
</body>