body {
    background-image: url("../img/coverPhoto.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width: 800px) {
    .rightCol {
        display: none;
    }
}

.row {
    width: 100%;
}

.headerRow img {
    background-color: white;
}
.header a {
    font-size: 12px;
}


.bodyRow .centerCol {
    padding-top: 25px;
    background-color: #eee !important;
}

.leftCol > div, .rightCol > div {
    padding-top: 20px;
}
.leftCol > div {
    color: lightgray;
    display: inline-block;
}
.leftCol div {
    font-size: 14px;
}
.leftCol .video {
    margin-top: 20px;
}

img.ariosoLogo, img.handLogo {
    background-color: white;
}

.footerRow img {
    height: 75px;
    width: 75px;
}

i.fa {
    font-family: FontAwesome;
}

a.active {
    font-size: 16px;
}
a:link,a:active {
    FONT-WEIGHT: normal;
    COLOR: #6666FF;
    FONT-FAMILY: verdana, arial, sans-serif;
    TEXT-DECORATION: underline;
    cursor: pointer;
}
a:visited {
    FONT-WEIGHT: normal;
    COLOR: #9966CC;
    FONT-FAMILY: verdana, arial, sans-serif;
    TEXT-DECORATION: underline;
}

a.nav {
    FONT-WEIGHT: normal;
    COLOR: #6666FF;
    FONT-FAMILY: verdana, arial, sans-serif;
    TEXT-DECORATION: none;
}

a:visited.nav {
    FONT-WEIGHT: normal;
    COLOR: #9966CC;
    FONT-FAMILY: verdana, arial, sans-serif;
    TEXT-DECORATION: none;
}

span {
    color: lightgray;
}

.subHeader {
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: lightgray;
    FONT-FAMILY: verdana, arial, sans-serif;
    TEXT-DECORATION: none
}

.monospace {
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: lightgray;
    FONT-FAMILY: courier new, courier, mono;
    background-color:#CCCCCC
}

.small {
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: lightgray;
    FONT-FAMILY: verdana, arial, sans-serif;
    TEXT-DECORATION: none
}
