body {
    background-image: url("../img/coverPhoto.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.row {
    width: 100%;
}

.headerRow .header {
    display: inline-block;
}


.bodyRow .centerCol {
    padding-top: 25px;
    background-color: #eee !important;
}

.header a {
    font-size: 12px;
}

a.active {
    font-size: 16px;
}

.leftCol > div, .rightCol > div {
    padding-top: 20px;
}

img.ariosoLogo, img.handLogo {
    background-color: white;
}

a:link,a:active {
    FONT-WEIGHT: normal;
    COLOR: #6666FF;
    FONT-FAMILY: verdana, arial, sans-serif;
    TEXT-DECORATION: underline
}
a:visited {
    FONT-WEIGHT: normal;
    COLOR: #9966CC;
    FONT-FAMILY: verdana, arial, sans-serif;
    TEXT-DECORATION: underline
}

a.nav {
    FONT-WEIGHT: normal;
    COLOR: #6666FF;
    FONT-FAMILY: verdana, arial, sans-serif;
    TEXT-DECORATION: none
}

a:visited.nav {
    FONT-WEIGHT: normal;
    COLOR: #9966CC;
    FONT-FAMILY: verdana, arial, sans-serif;
    TEXT-DECORATION: none
}

span {
    color: lightgray;
}

.subHeader {
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: lightgray;
    FONT-FAMILY: verdana, arial, sans-serif;
    TEXT-DECORATION: none
}

.monospace {
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: lightgray;
    FONT-FAMILY: courier new, courier, mono;
    background-color:#CCCCCC
}

.small {
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: lightgray;
    FONT-FAMILY: verdana, arial, sans-serif;
    TEXT-DECORATION: none
}
