.pageTitle {
    font-size: 26px;
    font-family: cursive;
}

.rowTitle, .rowSubtitle {
    display: inline-block;
}
.rowTitle {
    font-size: 18px;
    width: 100%;
}
.rowSubtitle {
    font-size: 16px;
    width: 100%;
}
.bioBody {
    display: inline-block;
    font-size: 12px;
}
.bioRow .left {
    display: inline-block;
}
@media (max-width: 900px) {
    .bioRow {
        width: 100%;
    }
    .bioRow, .pageTitle {
        margin-left: 1% !important;
    }
    .bioRow .left {
        width: 49% !important;
    }
}
@media (min-width: 900px) {
    .bioRow {
        width: 48% !important;
        display: inline-block;
    }
    .bioRow .left {
        width: 65%;
    }
}

.bioRow img {
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
    width: 159px;
    height: 240px;
}