.centerCol .bottom {
    width: 100%;
}
.bottom .subtitle {
    font-size: 16px;
    font-weight: bold;
}
.bottom .tile {
    width: 50%;
    float: left;
}
.bottom .tile img {
    width: 100%;
    cursor: pointer;
}
.bottom .form {
    width: 50%;
    float: right;
    border: 1px solid #888;
}
.form .field {
    width: 90%;
    margin-left: 2.5%;
}
.form .field input:not(.half), .form .field textarea {
    width: 100%;
}
.form .field input.half {
    width: 49%;
    padding: 0px 2.5%;
    display: inline-block;
}
.form .field input.half.right {
    float: right;
}
.form .field textarea {
    resize: none;
}
.form button.submit {
    background-color: lightblue;
    width: 80%;
    margin-left: 10%;
}